@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
